* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}


:root {
    --button-color: #0064d2;
}

.wrapper {
    background: white;
    width: 100%;
    height: auto;
    border-bottom:1px solid rgba(0,0,0,.16);

}

.container {
    width: 85%;
    margin: 0 auto;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom:solidrgba(0,0,0,.16);  

}


.login__body {
    max-width: 376px;
    margin: 4rem auto;
    overflow: hidden;
    display: block;
    position: relative;
    padding: 0 8px;

}

h3 {
    font: 700 2rem/1.3 Telstra Akkurat,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #0064d2;
    line-height: 39px;
    font-size: 32px;
    margin-bottom: 0.5rem;
}

.p-heading {
    color: #414141;
    font-size: 16px;
    line-height: 19px;
    font: 400 1rem/1.4 Telstra Akkurat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.spacing {
    margin-bottom: 3.5rem;
}

label {
    font: 700 1rem/1.4 Telstra Akkurat,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #282828;
    font-size:16px;
}

input[type=text], input[type=password] {
        font: 400 1rem/1.4 Telstra Akkurat,Helvetica Neue,Helvetica,Arial,sans-serif;
        letter-spacing: .009375rem;
        color: #414141;
        margin: 0;
        border-radius: 0.25rem;
        height: 3.25rem;
        background-color: #fff;
        padding: 0 0.75rem;
        margin: 0.5rem 0 0 0;
        text-decoration: none;
        color: #282828;
        caret-color: #0064D2;
        box-shadow: inset 0 0 0 0.0625rem #707070;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        transition: background-color 250ms linear,box-shadow 250ms linear;
        width: 100%;
    }

    input[type=text]:hover {
        cursor: default;
        box-shadow: inset 0 0 0 0.0625rem #0064d2;
    background-color: rgba(0,100,210,.06);
    }


.form-spacing {
    margin-bottom:1.5rem;
}

.error-empty {
    box-shadow: inset 0 0 0 0.0625rem #d0021b !important;
    caret-color: #D0021B !important;
}

.form__recover {
    position: relative;
    border-radius: 0.25rem;
    cursor: pointer;
    max-width: 100%;
    text-decoration: none;
    letter-spacing: .009375rem;
    display: inline-flex;
    align-items: center;
    text-align: left;
    color: #0064d2;
    margin: 0.5rem 0;
    padding: 0.75rem 0.25rem;
    transition: color 250ms,box-shadow 250ms,background-color 250ms;
    font: 400 1rem/1.4 Telstra Akkurat,Helvetica Neue,Helvetica,Arial,sans-serif;

}

.btn {
        position: relative;
        border-radius: 0.25rem;
        cursor: pointer;
        max-width: 100%;
        text-decoration: none;
        font: 700 1rem/1.4 Telstra Akkurat,Helvetica Neue,Helvetica,Arial,sans-serif;
        display: inline-block;
        width: 100%;
        line-height: 1.25rem;
        padding: 1rem;
        overflow: hidden;
        background-size: 100% 300%;
        background-position: 0 100%;
        text-align: center;
        transition: background-color 250ms,color 250ms,border 250ms,box-shadow 250ms;
        transition-timing-function: ease-in;
        background-color: var(--button-color);
        color: #fff;
        margin: 1rem 0;
    }

.btn:hover {
    background: #001e82;
}

.form__checkbox {
    display: flex;
    gap: 1rem;
    align-items: center;
}

input[type=checkbox] {
    padding: 1rem;
}
.form__checkbox label {
    font-weight: 400;
    margin: 1rem 0;
}

.form__or {
    text-align: center;
    font: 400 1rem/1.4 Telstra Akkurat,Helvetica Neue,Helvetica,Arial,sans-serif;

}

.btn-outline {
        position: relative;
        border-radius: 0.25rem;
        cursor: pointer;
        max-width: 100%;
        text-decoration: none;
        font: 700 1rem/1.4 Telstra Akkurat,Helvetica Neue,Helvetica,Arial,sans-serif;
        display: inline-block;
        width: 100%;
        line-height: 1.25rem;
        padding: 1rem;
        overflow: hidden;
        background-size: 100% 300%;
        background-position: 0 100%;
        text-align: center;
        transition: background-color 250ms,color 250ms,border 250ms,box-shadow 250ms;
        transition-timing-function: ease-in;
        padding: calc(1rem - 0.0625rem);
        border: 1px solid #0064d2;
        background-color: #fff;
        color: #0064d2;
        margin-top: 1rem;
        margin-bottom: 2rem;

    }


.btn-outline:hover {
    border: 1px solid #001e82;
    background-color: rgba(0,100,210,.06);
    color: #001e82;
    }

    .footer {
        bottom: 0;
        width: 100%;
        height: 62px;
        background-color: #f4f4f4;
        border-top: 1px #e4e4e4 solid;
    }

    .footer__body {
        padding-top: 20px;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .footer__body > p {
    color: #555;
    font-family: Telstra Akkurat,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
    text-align: center;
    margin-right: 15px;
    text-decoration: none;
    }

    /* ===== REGISTRATION CSS ====== */

    .label__register {
        font: 400 1rem/1.4 Telstra Akkurat,Helvetica Neue,Helvetica,Arial,sans-serif;
        color: #282828;
        font-size:14px;
    }


    /* ===== MEDIA QUERIES ====== */

    /* ===== MEDUIUM SCREEN ====== */

    @media only screen and (max-width: 721px){
        .wrapper {
            display: none;
        }   
    }